# LocaCamp - Google Drive OAuth Client ID Resmi Aplikasi
VITE_GOOGLE_CLIENT_ID=468845772138-jcavfnvf03tp5o4ev6ft4d01kj475h3c.apps.googleusercontent.com

# Google Site Verification Meta Tag
# <meta name="google-site-verification" content="ZUhFWaGuP_ZrNKLCXxIXODCoIJGDPJbPfNsLyotgX_A" />
VITE_GOOGLE_SITE_VERIFICATION=ZUhFWaGuP_ZrNKLCXxIXODCoIJGDPJbPfNsLyotgX_A
